<!--@if (images) {-->
<div class="hard2">


<ngb-carousel>
<!--  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[0]" alt="Random first slide"/>
    </div>
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[1]" alt="Random second slide"/>
    </div>
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[2]" alt="Random third slide"/>
    </div>
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>-->
  <ng-template ngbSlide>
    <div class="image  py-4   ">
      <img src="assets/images/image-10.png" class="w-100" alt="Slick 1">
      <div class="block position-absolute top-50 start-0 ps-lg-5 px-2 translate-middle-y ">
        <!--d-md-block  d-none">-->
        <div class="image-block  top-0 start-0 px-5">
          <div class="image-block-title  px-sm-5 px-3 pt-5 lh-sm fw-bold"
               style="font-size: calc(0.300rem + 1.9vw)">Скидки на травянные чаи
          </div>
          <div class="image-block-text px-md-5  pt-3 px-sm-5 px-4"
               style="font-size: calc(0.300rem + 0.8vw)">Узнай все подробности, заполнив заявку
          </div>
          <button class="btn btn-primary hvr-round-corners m-2 m-sm-5  px-sm-5 px-4"
                  style="font-size: calc(0.300rem + 1.9vw)" [routerLink]="['/products']">Заказать
          </button>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="image  py-4  ">
      <img src="assets/images/image2all.png" class="w-100" alt="Slick 2">
      <div class="block position-absolute top-50 start-0 ps-lg-5 px-2 translate-middle-y ">
        <div class="image-block  top-0 start-0 px-5">
          <div class="image-block-title  w-75 px-sm-5 px-3 pt-5 lh-sm fw-bold"
               style="font-size: calc(0.325rem + 1.9vw)">Закажи три пачки чая и получи подарок
          </div>
          <button class="btn btn-primary hvr-round-corners m-2 m-sm-5  px-sm-5 px-4"
                  style="font-size: calc(0.325rem + 1.9vw)" [routerLink]="['/products']">Заказать
          </button>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="image py-4 ">
      <img src="assets/images/image-9.png" class="w-100" alt="Slick 3">
      <div class="block position-absolute top-50 start-0 ps-lg-5 px-2 translate-middle-y ">
        <div class="image-block  top-0 start-0 px-5">
          <div class="image-block-title  px-sm-5 px-3 pt-5 lh-sm fw-bold"
               style="font-size: calc(0.325rem + 1.9vw)">Попробуй нашу новинку
          </div>
          <div class="image-block-title  px-sm-5 px-3 lh-sm fw-bold"
               style="font-size: calc(0.325rem + 1.9vw)">— ягодный чай
          </div>
          <button class="btn btn-primary hvr-round-corners m-2 m-sm-5  px-sm-5 px-4"
                  style="font-size: calc(0.325rem + 1.9vw)" [routerLink]="['/products']">Заказать
          </button>
        </div>
      </div>
      </div>
  </ng-template>
</ngb-carousel>
<!--}-->
</div>
