
/*.carousel-control-prev:before,.carousel-control-next:before {
  content: '' !important;
}
.carousel-control-prev-icon {
  //background-image: url('arrow1.svg') 0 0 / 100% !important;
  background-image: url('arrow1.svg') !important;
}
.carousel-control-next-icon {
  right: 15px;
  //background: url('arrow2.svg') 0 0 / 100 !important;
  background: url('arrow2.svg')!important;
}*/
/*.carousel-control-prev-icon {
  //background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  //color: #dddddd;
background-image: url('assets/images/arrow1.svg') 0 0 / 100% !important;
}

.carousel-control-next-icon {
  //background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  background-image: url('assets/images/arrow2.svg') 0 0 / 100% !important;
}*/
