<section class="slider">
  <div class="container">
    <section class="single-item d-block w-100 py-5 g-0 position-relative">
      <div class="image  ">
        <img src="assets/images/tea1.png" class="w-100" alt="Slick 1">
      </div>
    </section>
  </div>
</section>

<section class="faq">
  <div class="container ">
    <div class="faq-block  py-5 px-2 px-lg-5">
      <div class="faq-block-title fw-bold fs-2 text-center pb-5 px-xl-5 ">
        Ответы на часто задаваемые вопросы
      </div>

      <div class="faq-block-items border-bottom-0 mb-2 px-xl-5">
        <div class="accordion accordion-flush  bs-accordion-btn-color=bg-primary accordion-icon-color = bg-white "
             id="accordionPanelsStayOpenExample">
          <div class="accordion-item border-bottom-0 px-xl-4 mb-2">
            <h2 class="accordion-header ">
              <button class="accordion-button mb-2 bg-primary  collapsed text-white bg-body=bg-white  border border-0 rounded-3"
                      type="button" data-bs-toggle="collapse"
                      data-bs-target="#panelsStayOpen-collapseOne"
                      aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                Собираете ли вы подарочные боксы?
              </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
              <div class="accordion-body">
                Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и
                стоимость!.
              </div>
            </div>
          </div>
          <div class="accordion-item border-bottom-0 px-xl-4 mb-2">
            <h2 class="accordion-header">

              <button class="accordion-button  bg-primary collapsed text-white border rounded-3"
                      type="button" data-bs-toggle="collapse"
                      data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                      aria-controls="panelsStayOpen-collapseTwo">
                Сколько у вас разновидностей чая?
              </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
              <div class="accordion-body">
                <strong>This is the second item's accordion body.</strong> It is hidden by default,
                until the collapse plugin adds the appropriate classes that we use to style each
                element. These classes control the overall appearance, as well as the showing and
                hiding via CSS transitions. You can modify any of this with custom CSS or overriding
                our default variables. It's also worth noting that just about any HTML can go within
                the <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>
          <div class="accordion-item border-bottom-0 px-xl-4 mb-2">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed bg-primary text-white  border rounded-3"
                      type="button" data-bs-toggle="collapse"
                      data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                      aria-controls="panelsStayOpen-collapseThree">
                В какой срок осуществляется доставка?
              </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
              <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong> It is hidden by default,
                until the collapse plugin adds the appropriate classes that we use to style each
                element. These classes control the overall appearance, as well as the showing and
                hiding via CSS transitions. You can modify any of this with custom CSS or overriding
                our default variables. It's also worth noting that just about any HTML can go within
                the <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>
          <div class="accordion-item px-xl-4 mb-2">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed bg-primary text-white  border rounded-3"
                      type="button" data-bs-toggle="collapse"
                      data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                      aria-controls="panelsStayOpen-collapseThree">
                У вас обновляется ассортимент?
              </button>
            </h2>
            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
              <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong> It is hidden by default,
                until the collapse plugin adds the appropriate classes that we use to style each
                element. These classes control the overall appearance, as well as the showing and
                hiding via CSS transitions. You can modify any of this with custom CSS or overriding
                our default variables. It's also worth noting that just about any HTML can go within
                the <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>
          <div class="accordion-item px-xl-4 mb-2">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed bg-primary  text-white border rounded-3"
                      type="button" data-bs-toggle="collapse"
                      data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false"
                      aria-controls="panelsStayOpen-collapseThree">
                Какого объема у вас пачки чая?
              </button>
            </h2>
            <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
              <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong> It is hidden by default,
                until the collapse plugin adds the appropriate classes that we use to style each
                element. These classes control the overall appearance, as well as the showing and
                hiding via CSS transitions. You can modify any of this with custom CSS or overriding
                our default variables. It's also worth noting that just about any HTML can go within
                the <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!--{{lateData | async}}-->

<!-- Modal button-->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<!-- Button trigger modal -->
<!--<button class="btn btn-primary py-2 px-4 border rounded-1"  (click)="showModal()" >открой popup</button>-->

<!-- Modal for see tea -->
<div class="modal" id="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Посмотрите наши чайные коллекции!</h5>
        <button type="button" class="btn-close" (click)="hideModal()"></button>
      </div>
      <div class="modal-body">
        <p>Посмотрите наши чайные коллекции</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="hideModal()">Close</button>
        <button type="button" class="btn btn-primary" routerLink="/products" >Смотреть</button>
      </div>
    </div>
  </div>
</div>
